/* Navigation */

#mymenu ul {
  background-color: #72c8de;
  height: 30px;
  padding-left: 0;
  text-decoration: none;
}
#mymenu li {
  display: inline;
  list-style: none outside none;
  list-style-type: none;
  padding: 0 0.5em;
}
#mymenu li a {
  background-color: #72c8de;
  border-right: 1px solid #ffffff;
  color: #ffffff;
  display: block;
  float: left;
  padding: 5px 0;
  text-align: center;
  width: 150px;
  text-decoration: none;
}
#mymenu li a:hover, #mymenu li.active-trail a, #mymenu li a.active {
  background-color: #4e8fac;
  color: #ffffff;
  font-size: bigger;
  text-decoration: none;
}